.router-outer {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 5 0 0;
  display: flex;
  justify-content: center;
  height: 42rem;
  background-color: rgb(175, 175, 175);
  overflow-y: scroll;
}

.top-suggestions-container {
  display: flex;
  flex: 1 0 0;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .app {
    width:100%
  }
}