.app div:not(.router-outer, .navbar.app-navbar, .footer.app-footer, .album-item__image) {
  margin: 5px 5px 5px 5px;
}

.router-outer {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 5 0 0;
  display: flex;
  justify-content: center;
}

.top-suggestions-container {
  display: flex;
  flex: 1 0 0;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .app {
    width:100%
  }
}