.mainContainer {
  width: 40rem;
  max-width: 95%;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.topHeading {
  color: rgb(48, 2, 2);
  font-family: "Times New Roman", Times, serif, sans-serif;
  padding: 7px;
  text-align: center;
}
