.album-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
}

.album-item h2 {
  color: #3a3a3a;
  font-size: 1.5rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.album-item h3 {
  color: #3a3a3a;
  font-size: 1.2rem;
  flex: 1;
  margin: 0 1rem;
  color: rgb(175, 175, 175);
}

.album-item__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  flex: 240;
}

.album-item__description-sub {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  flex: 240;
}

input.album-item_checkbox {
  flex: 10;
  color: rgb(83, 83, 83);
  width: 30px;
  display: block;
  height: 30px;
  position: relative;
  margin: 1rem 0;
}

.album-item_checkbox:checked + .album-item__title {
  color: #87bb5f;
}

.album-item_checkbox + .album-item__title {
  color: black;
}

.album-item_remove-Button {
  display: flex;
  flex: 1;
  color: black;
  opacity: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 0;
  padding: 10px 5px;
  cursor: pointer;
}

.album-item:hover .album-item_remove-Button {
  opacity: 2;
}
